* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}
/* <!------------------------------------------------------------- header-start -----------------------------------------------------> */

header {
  height: 18vh;
  width: 100vw;
position: sticky;
top: 0;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #fff;
}
p {
  margin: 2vw;
  font-family: "Mulish", serif;
  font-size: 1vw;
}
header p:hover {
  color: hotpink;
  cursor: pointer;
  transition: 0.2s;
  /* position: sticky; */
}
.icon {
  /* position: absolute; */
  right: 70px;
  display: flex;
}
.cart{
  width: 14px;
  height: 16px;
  background-color: lightgray;
  font-size: 1vw;
  
  border-radius: 50%;
     margin-top: -1.1vh;
     margin-left:0.3vw;
     
}

/* <!------------------------------------------------------------- header-end -----------------------------------------------------> */
.section-1 {
  width: 100vw;
  height: 95vh;
  background-color: #e9ebf2;
}
.section-1-parts {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
}
.part-1 {
  width: 50%;
  /* height: 100%; */
  /* background-color: yellow; */
  font-family: "Parkinsans", serif;
  line-height: 9vh;
  padding-top: 5vw;
}
.part-1 p {
  width: 100%;
  margin-left: 7vw;
}
.part-2 {
  width: 50%;
  height: 100%;
  /* background-color: pink; */
}
.img {
  display: flex;
}
.part-2 img {
  position: relative;
  margin-top: 7vw;
  width: 50%;
  /* height: 0%; */
  object-fit: cover;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-2 {
  position: absolute;
  right: 39vw;

  object-fit: cover;
}

.image-11 {
  position: absolute;
  left: 48vw;
top: 19vh;
width:  30%;
height: 30%;
  object-fit: cover;
}
/* <!------------------------------------------------------------- pg-1-end -----------------------------------------------------> */

/* <!------------------------------------------------------------- pg-2-start -----------------------------------------------------> */
.section-2 {
  width: 100vw;
  height: 100vh;
  margin-top: 6vh;
}
.section-2-parts {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: gray; */
}
.section-2 .part1 {
  width: 45vw;
  height: 100vh;
  /* background-color: black; */
}
.section-2 .part2 {
  width: 10%;
  height: 100%;
  /* background-color: yellow;    */
}

.section-2 .part3 {
  width: 45%;
  height: 100%;
  /* background-color: pink; */
}
.part1-img {
  width: 70%;
  height: 90%;
  margin: auto;
  border: 2px solid transparent;
  border-radius: 45% 45% 45% 45%;
  position: relative;
  overflow: hidden;
  margin-top: 5vh;
  box-shadow: 0 6px 60px rgba(0, 0, 0, 0.2);
}

.part1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -2.5vw;
}
.part2 {
  justify-content: center;
  text-align: center;
}
.big-box {
  width: 100%;
  height: 100%;
  margin-top: 15vh;
}
.box {
  border: 2px solid;
  border-style: dashed;
  border-color: #0c6899;
  border-radius: 0.5vw;
  margin: 1vw;
  margin-bottom: 1.5vw;
  height: 15vh;
  width: 7.5vw;
  justify-content: center;
  text-align: center;
}

.box h1 {
  margin: 1vw;
  color: #2a97d1;
}
.box p {
  /* margin: 2vw; */

  text-transform: uppercase;
  font-size: 0.8vw;
  font-weight: 900;
  color: #2a97d1;
  text-align: center;
  margin: auto;
  margin-top: -1.3vw;
}
.heading h4 {
  padding: 8vw 2.7vw;
  font-size: 4vw;
  font-family: "Mulish", serif;
  font-weight: 900;
  line-height: 4vw;
  width: 100%;
}
.text-1 {
  margin-top: -9vw;
}
.heading p {
  padding: 0vw 1vw;
  text-align: left;
  font-size: 1vw;
  color: #212224;
  font-weight: bold;
  text-align: justify;
  width: 73%;
}
.btn {
  margin-left: 3vw;
  margin-top: 8vh;
}
.btn button {
  padding: 0.8vw 1vw;
  text-transform: uppercase;
  background-color: #2a97d1;
  border: 2px solid;
  border-color: #2a97d1;
  border-radius: 1.5vw;
  color: white;
  font-size: 0.7vw;
}
/* <!------------------------------------------------------------- pg-2-end -----------------------------------------------------> */
/* <!------------------------------------------------------------- pg-3-start -----------------------------------------------------> */
.section-3 {
  margin-top: -1vw;
  width: 100vw;
  height: 100vh;
  background-color: #ede8eb;
  font-family: "Mulish", serif;
}
.section-3-parts {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: -5vw;
  margin-left: 1vw;
  /* background-color: gray; */
}
.section-3-part-1 {
  width: 55vw;
  height: 100%;
  margin-left: 1vw;
  /* background-color: black; */
}
.section-3-part-2 {
  width: 60vw;
  height: 100%;
  /* background-color: pink ; */
  /* background-color: blue; */
}
.section-3-part-1 h1 {
  width: 100%;
  font-size: 3.5vw;
  padding: 7vw 4vw;
  font-weight: 900;
  margin-top: 0.5vh;
}
.section-3-part-1 .text-11 {
  margin-left: 2.5vw;
  color: #303542;
  font-weight: bold;
  text-align: justify;
  /* line-height: 1.3vw; */
  font-size: 1.5vw;
  margin-top: -16vh;
  margin-bottom: 0px;
}
.section-3-part-2 {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Thodi space edges se */
}
.section-3-part-2-img {
  width: 80%;
  height: 80%;
  /* object-fit: cover; */
  margin-top: -6vh;
  /* margin-top: 10vw; */
  /* background-color: pink; */
  margin-left: -9vw;
}

.section-3-part-2-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* <!------------------------------------------------------------- pg-3-end -----------------------------------------------------> */
/* <!------------------------------------------------------------- pg-4-start -----------------------------------------------------> */
.sectio-4-part-1 {
  font-family: "Mulish", serif;
  width: 100vw;
  height: 100vh;
  background-color: #ede8eb;
  margin-top: -0.5vw;
  color: #21273b;
}

.section-4 {
  font-family: "Mulish", serif;
  display: flex;
  background-color: #ede8eb;
}
.sectio-4-part-1 h1 {
  transform: rotate(-90deg);
  text-align: center;
  position: absolute;
  font-weight: 900;
  font-size: 8vw;
  /* top: 15px; */
  margin-top: 50vh;
  margin-left: -3vw;
  width: 30vw;
}

.sectio-4-part-2 {
  margin-top: -1vh;
  background-color: #ede8eb;
}
.border-box {
  width: calc(100vw - 30vw);
  height: 100vh;
  border: 2px solid black;
  border-style: dashed;
  background-color: #ede8eb;
  border-radius: 2vw;
  /* padding: 20px; */
  margin-right: 9vw;
  margin-top: 10vh;
  text-align: justify;
  padding-right: 2vw;
  font-size: 1vw;
  word-spacing: 0.3vw;
}
.border-text h6 {
  font-weight: 800;
  font-size: 1.1vw;
}
.border-box .border-text {
  padding: 3vw 3vw;
  height: 100%;
  width: 95%;
}
.border-text h3 {
  color: #24cbd1;
  font-weight: 800;
  font-size: 1.3vw;
}
/* <!------------------------------------------------------------- pg-4-end -----------------------------------------------------> */
/* <!------------------------------------------------------------- pg-5-start -----------------------------------------------------> */

.section-5 {
  width: 100vw;
  height: 80vh;
  font-family: "Mulish", serif;
}
.section-5 .section-5-heading {
  padding: 6vw;
  font-size: 2vw;
  width: 60%;
  font-weight: 900;
  margin-top: -2vh;
}
.section-5-text {
  padding: 4vw;
  line-height: 1.5vw;
  margin-top: -11vw;
}
.section-5-text p {
  /* width:60%; */
  /* margin-top: -8vw; */
  font-size: 1.3vw;
  text-align: justify;
  color: #222840;
  font-weight: 700;
}
/* <!------------------------------------------------------------- pg-5-end -----------------------------------------------------> */

/* <!------------------------------------------------------------- pg-6-start -----------------------------------------------------> */
.section-6 {
  font-family: "Mulish", serif;
  width: 100vw;
  height: 100vh;
}
.section-6-heading {
  margin-top: 16vh;
  line-height: 9vh;
  padding: 6vw 6vw;
  font-size: 2.2vw;
  font-weight: 700;
}
.section-6-text {
  padding: 4vw;
  margin-top: -23vh;
  line-height: 1.5vw;
  width: 100%;
  color: #222840;
  font-weight: 700;
  font-size: 1vw;
  width: 95%;
}
/* <!------------------------------------------------------------- pg-6-end -----------------------------------------------------> */
/* <!------------------------------------------------------------- pg-7-start -----------------------------------------------------> */

.section-6 p {
  font-size: 1.1vw;
  text-align: justify;
  color: #212224;
  /* background-color: #ede8eb; */
}
.section-7{
  background-color:rgb(241, 240, 240);
  width: 100vw;
  height: 125vh;
}
.section-7-heading {
  font-family: "Mulish", serif;
  margin-top: -1vw;
 
  /* background-color: #dfdcde; */
}
.section-7-heading h1 {
  font-family: "Mulish", serif;
  text-align: center;
  padding-top: 9vh;
  font-size: 4.5vw;
  color: #222840;
}
.section-7-heading p {
  margin-top: 2vh;
  text-align: center;
  font-size: 1.2vw;
  width: 50%;
  padding-left: 22vw;
  font-weight: bold;
  color: #222840;
}

.all-cards{
  display: flex;
  /* border: 2px solid crimson; */
  margin-top: -10vw;
  margin-left: 10vw;
  font-family: "Mulish", serif;


}
.cards{
  margin: 5vw;
}
.card{
  width: 25vw;
  height: 29vw;
}
.card-1 .image img{
   width:100%;
   height: 90%;
   object-fit: cover;
}
.card-text{
  text-align: center;
  position: relative;
}
.card-text h1{
  margin-top: -6vh;
  font-size: 2vw;
  font-weight: 900;
  color:gray;
}
.card h2{
font-size: 1.6vw;
font-weight: 800;
}
.card-text p {
  width: 100%;
  height: 100%;  
  line-height: 3vh;
}
.image {
  /* border: 2px solid green;
  border-radius: 50%; */
  overflow: hidden;
}
.C-btn{
  width: auto;
  height: auto;
  /* background-color:rebeccapurple; */
  align-items: center;
  text-align: center;
}
.C-btn button{
  padding: 0.7vw 2.5vw;
  border: 1px solid gray;
  border-radius: 2vw;
  color:  gray;
  font-size: 1vw;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
/* <!------------------------------------------------------------- pg-7-end -----------------------------------------------------> */
/* <!------------------------------------------------------------- pg-8-start -----------------------------------------------------> */
.section-8 {
  font-family: "Mulish", serif;
  width: 100vw;
  height: 100vh;
}
.section-8-heading h4 {
  width: 100%;
  color: gray;
  margin-top: vh;
  margin-left: 8vw;
  font-size: 1.5vw;
  color: #10b4e6;

}
.section-8-heading p {
  font-size: 1.2vw;
  margin-left: 8vw;
  font-weight: 600;
  line-height: 0.8vw;
}
.faq-heading h1 {
  font-family: "Mulish", serif;

  color: rgb(247, 41, 144);
  font-size: 4vw;
  margin-top: -20vw;
  margin-left: 9.5vw;
  margin-top: -25vw;
}
.border-para {
  font-family: "Mulish", serif;
  width: 85vw;
  height: 80vh;
  margin-left: 9vw;
}
.border-p p {
  border: 1px solid;
  margin: 6px;
  padding: 1vw;
  border-radius: 0.6vw;
  font-size: 1.2vw;
}
/* <!------------------------------------------------------------- pg-8-end -----------------------------------------------------> */
.section-9 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.section-9 .bg {
    font-family: "Mulish", serif;
    width: 100%;
    height: 40%;
    background-color: #2a97d1;
    position: absolute;
    top: 80%;
    border-top-right-radius: 10vw;
    border-top-left-radius: 10vw;
    text-align: center;
    z-index: 1;
}

.section-9 .bg h4 {
    margin-top: 13vw;
    font-size: 1.5vw;
    color: white;
}

.form {
    margin: auto;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 10%; /* Adjust to position the yellow div over the blue div */
    left: 10vw;
    background-color:#ede8eb;
    z-index: 2; /* Ensure t
    he yellow div appears above the blue div */
    border-radius: 2vw;
    display: flex   ;
}
.Form{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: pink; */
}
.image{
    margin-left: 10%;
    margin-top: 29vh;
    height: 80%;
    
}
.image-1{
    margin-left: 35%;
    margin-top: -6%;
    width: 30%;
    height: 30%;
}
.image img{
    width: 85%;
}

/* -------------contact us--------------------------------- */

div.contianer-box {
    /* flex: 1 1 50%; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    width: 80%;
    margin: 5px;
    padding: 50px;
    background-color:  rgb(231, 229, 229);
    border-radius: 20px;
    height: 100vh;
    margin-left: 10%;
    line-height: 30px;
}
.Form form{
  font-family: "Mulish", serif;
font-weight: 500;
  background-color:#ede8eb;
  width: 70%;
  height: 80%;
  /* margin-right: 50vw; */
  position: absolute;
  
}
.radio-group {
display: flex;
margin-top: -1vw;
/* text-align: center; */
/* justify-content: center; */
}
.radio-1 input{
  width: 3vw;
  height: 3vh;
}
.radio-2 input{
  width: 3vw;
  height: 3vh;
}
.radio-2{
margin-left: 2vw;
}
label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 7px;
}

#message{
  width: 100%;
  height: 100px;
  border-radius: 7px;
  padding: 10px;
}

.form-group p{
  margin-top: 0px;
  /* border: 2px solid yellow;. */

}

.checkbox{
  width: 60vw;
  /* border: 2px solid black; */
  font-size: 1vw;
  margin-top: -6vh;
  
}
.checkbox input{
 margin-bottom: -5vh;
}
button[type="submit"] {
  background-color: #2a97d1;
  color: white;
  padding: 1vw 4vw;
  width: 80%;
  margin-top: 1vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
